AC_INIT([@@PROJECT_NAME@@], [1.0], [@@PROJECT_URL@@])
AC_CONFIG_SRCDIR([src/main.@@EXT@@])
AC_CONFIG_FILES([Makefile])
AC_PROG_CC
AC_PROG_CXX
AC_ARG_ENABLE([debug], AS_HELP_STRING([--enable-debug], [Build with debug symbols]), [DEBUG=$enableval], [DEBUG=no])
AC_ARG_ENABLE([asan], AS_HELP_STRING([--enable-asan], [Build with ASAN/UBSAN]), [ASAN=$enableval], [ASAN=no])

if test "x$DEBUG" = "xyes"; then
  CFLAGS="$CFLAGS -g -O0"
fi

if test "x$ASAN" = "xyes"; then
  CFLAGS="$CFLAGS -fsanitize=address,undefined -g -O0"
  LDFLAGS="$LDFLAGS -fsanitize=address,undefined"
fi

CFLAGS="$CFLAGS -std=@@STD@@ -Wall -Wextra -Wpedantic -Iinclude"
AC_SUBST([CFLAGS])
AC_SUBST([LDFLAGS])
AC_OUTPUT
