{
  "C_Cpp.default.cStandard": "@@VSCODE_C_STD@@",
  "C_Cpp.default.cppStandard": "@@VSCODE_CPP_STD@@",
  "C_Cpp.default.compilerPath": "@@CC@@",
  "C_Cpp.default.includePath": [
    "${workspaceFolder}/include",
    "${workspaceFolder}/src"
  ],
  "C_Cpp.default.compileCommands": "${workspaceFolder}/compile_commands.json",
  "files.associations": {
    "*.@@SRC_EXT@@": "@@VSCODE_LANG_ID@@"
  },
  "editor.tabSize": 8,
  "editor.insertSpaces": true,
  "files.trimTrailingWhitespace": true,
  "files.insertFinalNewline": true
}
